
    {% load static  %}
<!DOCTYPE html>
    
    <html lang="en">
        <head>
            <title>My Account | CIPHER - Creative Portfolio</title>
            <meta charset="utf-8">
            <meta name="description" content="Download Tank - Creative Portfolio Showcase HTML Website Template that comes with rich features and well-commented code. Made by Themetorium.">
            <meta name="author" content="themetorium.net">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> <!-- Body font -->
            <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet"> <!-- Secondary/Alter font -->
            
        </head>
                {% include 'base/navbar.html' %}

                              
                                
                                <div class="card">
                                <img src="{{ kordinator.image.url }}" alt="John" style="width:100%">
                                <p class="title">{{ kordinator.user }}</p>
                                <h1>{{ kordinator.name }}</h1>
                                <h4>{{ kordinator.lastname }}</h4>
                                <h4>{{ kordinator.surname }}</h4>
                                <h4>{{ kordinator.age }}</h4>
                                <h4>{{ kordinator.fak }}</h4>
                                <h4>{{ kordinator.ilimiy_darajasi }}</h4>
                                <h4>{{ kordinator.kor_lavozimi }}</h4>
                                <h4>{{ kordinator.tel }}</h4>
                                <h4>{{ kordinator.about }}</h4>

                                <a href="{{kordinator.telegram}}"><i class="fa fa-telegram"></i></a>
                                <a href="{{kordinator.mail}}" target="_blank"><i class="fa fa-envelope"></i></a>
                                <p><button>Contact</button></p>
                            </div>
<style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</body>
</html>
