
{% load static %}
<header id="tt-header" class="tt-header-fixed">
    <div class="tt-header-inner"> 
        <div class="tt-header-col">
            <div class="tt-logo"> 
                <a href="{% url 'home' %}">
                    <img src="{% static 'assets/img/logotip.png' %}" class="tt-logo-light magnetic-item" alt="Logo"> <!-- logo light -->
                    <img src="{% static 'assets/img/logotip.png' %}" class="tt-logo-dark magnetic-item" alt="Logo"> <!-- logo dark -->
                </a>
            </div>
        </div>

        <div class="tt-header-col">
            <div id="tt-ol-menu-toggle-btn-wrap">
                <div class="tt-ol-menu-toggle-btn-text">
                    <span class="text-menu" data-hover="Open">Menu</span>
                    <span class="text-close">Close</span>
                </div>
                <div class="tt-ol-menu-toggle-btn-holder">
                    <a href="#" class="tt-ol-menu-toggle-btn magnetic-item"><span></span></a>
                </div>
            </div>
            <nav class="tt-overlay-menu tt-ol-menu-center tt-ol-menu-count">
                <div class="tt-ol-menu-holder">
                    <div class="tt-ol-menu-inner tt-wrap">
                        <div class="tt-ol-menu-content">
                            <ul class="tt-ol-menu-list">
                                <li class="tt-ol-submenu-wrap active">
                                    <div class="tt-ol-submenu-trigger">
                                        <a href="#">Home</a>
                                        <div class="tt-ol-submenu-caret-wrap">
                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                        </div> 
                                    </div>
                                    <div class="tt-ol-submenu">
                                        <ul class="tt-ol-submenu-list">

                                            <li class="active"><a href="landing-page-1.html">Landing Page v.1</a></li>
                                            <li><a href="landing-page-2.html">Landing Page v.2</a></li>

                                        </ul> 
                                    </div> 
                                </li>
                                <li class="tt-ol-submenu-wrap">
                                    <div class="tt-ol-submenu-trigger">
                                        <a href="#">Portfolio</a>
                                        <div class="tt-ol-submenu-caret-wrap">
                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                        </div> 
                                    </div> 
                                    <div class="tt-ol-submenu">
                                        <ul class="tt-ol-submenu-list">
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Portfolio List</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div>
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="portfolio-list-classic.html">List Classic</a></li>
                                                        <li><a href="portfolio-list-overlay.html">List Overlay</a></li>
                                                        <li><a href="portfolio-list-compact.html">List Compact</a></li>
                                    
                                                    </ul>
                                                </div> 
                                            </li>
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Portfolio Grid</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="portfolio-grid-creative-1.html">Grid Creative v.1</a></li>
                                                        <li><a href="portfolio-grid-creative-2.html">Grid Creative v.2</a></li>
                                                        <li><a href="portfolio-grid-modern.html">Grid Modern</a></li>
                                                        <li><a href="portfolio-grid-classic.html">Grid Classic</a></li>
                                                        <li><a href="portfolio-grid-portrait-mode.html">Portrait Mode</a></li>
                                                        <li><a href="portfolio-one-column.html">One Column</a></li>
                                                        
                                                    </ul>
                                                </div> 
                                            </li>
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Slider &amp; Carousel</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="portfolio-fullscreen-slider.html">Fullscreen Slider</a></li>
                                                        <li><a href="portfolio-carousel-overlay.html">Carousel Overlay</a></li>
                                                        <li><a href="portfolio-carousel-center.html">Carousel Center</a></li>
                                                        
                                                    </ul> 
                                                </div> 
                                            </li>

                                            <li><a href="portfolio-interactive.html">Interactive</a></li>
                                            <li><a href="portfolio-interactive-compact.html">Interactive Compact</a></li>
                                            <li><a href="elements-classic-menu.html">Classic Menu</a></li>

                                        </ul> 
                                    </div> 
                                </li>
                                <li class="tt-ol-submenu-wrap">
                                    <div class="tt-ol-submenu-trigger">
                                        <a href="#">About</a>
                                        <div class="tt-ol-submenu-caret-wrap">
                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                        </div> 
                                    </div> 
                                    <div class="tt-ol-submenu">
                                        <ul class="tt-ol-submenu-list">

                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="about-me.html">About Me</a></li>

                                        </ul> 
                                    </div> 
                                </li>
                                <li class="tt-ol-submenu-wrap">
                                    <div class="tt-ol-submenu-trigger">
                                        <a href="#">Blog</a>
                                        <div class="tt-ol-submenu-caret-wrap">
                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                        </div> 
                                    </div>
                                    <div class="tt-ol-submenu">
                                        <ul class="tt-ol-submenu-list">
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Blog List</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div>
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="blog-interactive.html">Interactive List</a></li>
                                                        <li><a href="blog-list.html">Compact List</a></li>
                                                        <li><a href="blog-classic.html">Classic List</a></li>
                                                        <li><a href="blog-classic-sidebar.html">Classic Sidebar</a></li>
                                                        
                                                    </ul>
                                                </div> 
                                            </li>
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Blog Post</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="blog-post.html">Single Post</a></li>
                                                        <li><a href="blog-post-classic-sidebar.html">Classic Sidebar</a></li>
                                                        
                                                    </ul> 
                                                </div>
                                            </li>
                                        </ul> 
                                    </div> 
                                </li>
                                <li class="tt-ol-submenu-wrap">
                                    <div class="tt-ol-submenu-trigger">
                                        <a href="#">Shop</a>
                                        <div class="tt-ol-submenu-caret-wrap">
                                            <div class="tt-ol-submenu-caret magnetic-item"></div>
                                        </div> 
                                    </div> 
                                    <div class="tt-ol-submenu">
                                        <ul class="tt-ol-submenu-list">
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Product Lists</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="shop-list.html">Sliding Sidebar</a></li>
                                                        <li><a href="shop-list-classic.html">Classic Sidebar</a></li>
                                                        
                                                    </ul> 
                                                </div>
                                            </li>
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Product Pages</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div>
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="shop-single.html">Product Page</a></li>
                                                        <li><a href="shop-single-simple.html">Simple Product Page</a></li>
                                                        
                                                    </ul> 
                                                </div> 
                                            </li>
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">Product Ordering</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div> 
                                                </div> 
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="shop-cart.html">Shopping Cart</a></li>
                                                        <li><a href="shop-checkout.html">Checkout</a></li>
                                                        <li><a href="shop-order-details.html">Order Details</a></li>
                                                        
                                                    </ul>
                                                </div> 
                                            </li>
                                            <li class="tt-ol-submenu-wrap">
                                                <div class="tt-ol-submenu-trigger">
                                                    <a href="#" class="tt-ol-submenu-link">More Pages</a>
                                                    <div class="tt-ol-submenu-caret-wrap">
                                                        <div class="tt-ol-submenu-caret magnetic-item"></div>
                                                    </div>
                                                </div>
                                                <div class="tt-ol-submenu">
                                                    <ul class="tt-ol-submenu-list">

                                                        <li><a href="shop-wishlist.html">Wishlist</a></li>
                                                        <li><a href="shop-login.html">Login Page</a></li>
                                                        <li><a href="shop-register.html">Register Account</a></li>
                                                        <li><a href="shop-reset-password.html">Reset Password</a></li>
                                                        
                                                    </ul> 
                                                </div>
                                            </li>

                                        </ul> 
                                    </div> 
                                </li>

                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div> 
                    </div> 
                </div> 
                <div class="bg-noise"></div>
            </nav> 
        </div>
    </div> 
</header>