
{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link">
          <span class="nav-name">Bosh sahifa</span>
        </a>
      </li>
        </li>
        <li class="nav__item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Topshiriqlar
            </a>
            <div class="dropdown-menu">
                <a href="{% url 'task_list' %}" class="nav-link ">
                    <span class="nav__name">Vazifalar</span>
                </a>
                <a href="{% url 'send_task' %}" class="nav-link ">
                  <span class="nav__name">Shaxsiy ishlar</span>
              </a>
              <a href="{% url 'stats' %}" class="nav-link ">
                <span class="nav__name">Statistik ma'lumotlar</span>
            </a>
                <!-- <a href="" class="nav-link ">
                    <span class="nav__name">Qalqon guruhiga ro'yxatga olish</span>
                </a>
                <a href="" class="nav-link ">
                    <span class="nav__name">Tavsiyanoma asosidagilar</span>
                </a>
                <a href="" class="nav-link ">
                    <span class="nav__name">35% lik to‘lov kontrakt</span>
                </a> -->
            </div>
        </li>
        {% if user.is_staff %}
                        <li class="nav__item">
            <a href="{% url 'add_task' %}" class="nav-link ">
                <span class="nav__name">Yangi vazifa qo'shish</span>
            </a>
        </li>
                 
        {% endif %}
        <li class="nav__item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           Loyihalar
          </a>
          <div class="dropdown-menu">
            <a href="" class="nav-link ">
                <span class="nav__name">Besh tashabbus loyihalari</span>
            </a>
            <a href="" class="nav-link ">
              <span class="nav__name">Besh tashabbus loyihalarini qo'shish</span>
            </a>
            <a href="" class="nav-link ">
              <span class="nav__name">Zakovat o'yinlari</span>
            </a>
            <a href="" class="nav-link ">
              <span class="nav__name">Zakovat o'yinlari qo'shish</span>
            </a>
            </div>
        </li>
        <li class="nav__item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Xarbiy vatanparvarlik
            </a>
            <div class="dropdown-menu">
              <a href="" class="nav-link ">
                <span class="nav__name">Fakultet xarbiy vatanparvarlik gruxlari</span>
              </a>
                <a href="" class="nav-link ">
                    <span class="nav__name">Qalqon guruhining ro'yxati</span>
                </a>
                <a href="" class="nav-link ">
                    <span class="nav__name">Qalqon guruhiga ro'yxatga olish</span>
                </a>
                <a href="" class="nav-link ">
                    <span class="nav__name">Tavsiyanoma asosidagilar</span>
                </a>
                <a href="" class="nav-link ">
                    <span class="nav__name">35% lik to‘lov kontrakt</span>
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Talabalar
            </a>
            <div class="dropdown-menu">
              <a href="{% url 'user_profile' %}" class="nav-link ">
                  <span class="nav__name">Iqtidorli talabalar</span>
              </a>
              <a href="{% url 'password_change' %}" class="nav-link ">
                  
                  <span class="nav-name">Toifadagi talablar</span>
              </a>
              <a href="{% url 'update_kordinator_profile' %}" class="nav-link ">
                  
                  <span class="nav-name">Iqtidorli talablarni kritish</span>
              </a>
              <a href="{% url 'update_kordinator_profile' %}" class="nav-link ">
                <span class="nav-name">Yashil toifadagi talablarni kritish</span>
              </a>
              <a href="{% url 'update_kordinator_profile' %}" class="nav-link ">
                <span class="nav-name">Sariq toifadagi talablarni kritish</span>
              </a>
              <a href="{% url 'update_kordinator_profile' %}" class="nav-link ">
                <span class="nav-name">Qizil toifadagi talablarni kritish</span>
              </a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu">
            <a href="{% url 'user_profile' %}" class="nav-link ">
                <span class="nav__name">Shaxsiy profil</span>
            </a>
            <a href="{% url 'password_change' %}" class="nav-link ">
                <span class="nav-name">Parolni yangilash</span>
            </a>
            <a href="{% url 'update_kordinator_profile' %}" class="nav-link ">
                <span class="nav-name">Profilni taxrirlash</span>
            </a>
          </div>
        </li>
        <li class="nav__item">
            <a href="{% url 'logout' %}" class="nav-link ">
                <span class="nav__name">chiqish</span>
            </a>
        </li>
      </ul>
      
    </div>
  </nav>